@font-face {
  font-family: 'asap';
  src: url('../fonts/Asap/Asap-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'noto-sans';
  src: url('../fonts/Noto_Sans/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'overpass';
  src: url('../fonts/Overpass/Overpass-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'saira';
  src: url(../fonts/Saira/Saira-VariableFont_wdth,wght.ttf) format('truetype');
}

* {
    padding: 0;
    margin: 0;
}

#header-container {
  display: flex;
    background-color: #becbb1;
    justify-content: space-between;
    height: 90px;
    align-items: center;
    padding: 0 45px;
}

#project-header {
  font-family: 'saira';
  font-weight: 500;
  font-size: 40px;
}

#link-list {
  display: flex;
  font-family: 'roboto';
  list-style: none;
  font-size: 25px;
  gap: 30px;
}
a:visited, #link-list a {
  color: black;
  text-decoration: none;
}

#introduction-container {
  display: flex;
  background-color: #9eb18b;
  align-items: center;
  padding: 70px 60px;
  gap: 65px;
}

#intro-blurb {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#intro-title {
  font-family: 'noto-sans';
  font-size: 32px;
  margin: 18px;
}

#intro-paragraph {
  text-align: center;
  font-family: 'asap';
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 45px;
}

#intro-image {
  height: 350px;
}

#quote-container {
  display: flex;
  background-color: #7e9765;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'noto-sans';
  padding: 80px;
}

#quote {
  font-size: 45px;
  width: 800px;
  text-align: center;
}

#quote-author {
  font-size: 45px;
}

#basics-container {
  display: flex;
  flex-direction: column;
  background-color: #8bb18f;
  font-family: 'asap';
  font-size: 35px;
  padding: 50px 150px;
  gap: 70px;
}

.basics-subheader {
  font-family: 'noto-sans';
  font-size: 32px;
}

.notes-button {
  font-family: 'overpass'
}

#basics-heading {
  font-family: 'noto-sans';
  align-self: center;
  font-size: 50px;
  text-decoration: underline;
}

.notes-button {
  background-color: #25572a;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  border-radius: 6px;
  align-self:last baseline;
}

.basics-def {
  display: flex;
  flex-direction: column;
  gap: 18px;

}

#footer {
  dislpay: flex;
  background-color: #737373;
  color: white;
  font-family: 'noto-sans';
  font-weight: 650;
  text-align: center;
  padding: 20px;
  font-size: 24px;
}